<html>
  <head>
    <base href="../../../../build/site/"/>
    <link rel="stylesheet" type="text/css" href="assets/css/common.css" />
    <script data-main="assets/js/app_local" src="assets/lib/require.js"></script>
  </head>
  <body>
    <div class="navbar navbar-default" th:fragment="mainMenu">
      <!-- hamburger -->
      <div class="navbar-header">
        <button
           type="button"
           class="navbar-toggle collapsed"
           data-toggle="collapse"
           data-target="#mainMenu"
           aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- main menu -->
      <div id="mainMenu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li th:each="item: ${json.menu}">
            <a href="#" th:href="${item.outcome + '.html'}" th:text="${item.title}">
              Menu item 1
            </a>
          </li>
          <li th:remove="all"><a href="#">Menu item 2</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
